<%- include('header') -%>
  <main class="signatures">
    <h1 class="header header--1">Gat ekki skráð!</h1>
    <div class="couldnt">
      <p class="couldnt__text">Hafðir þú skrifað undir áður?</p>
      <a class="couldnt__link" href="/">Til baka</a>
    </div>
  </main>
<%- include('footer') -%>
